nav {
	width: 100%;
	height: 60px;
	background: #344051;
	font-family: Arial, sans-serif;
}

.title {
	font-size: 28px;
	line-height: 60px;
	color: #f4f4f5;
	padding-left:390px;
	float: left;
}

.menu {
	padding-left: 432px ;
	float: left;
}

.menu li {
	float:left;
	font-size: 20px;
	color:#f4f4f5;
	padding-right: 40px;
	line-height: 60px;
	text-transform: uppercase;
}

.main_cont {
	width: 100%;
	height:calc(100% - 60px);
	background:url(../img/тень.png) 100% 104%/auto no-repeat, url(../img/Парень.png) 90% 100%/auto 85% no-repeat, url(../img/Фон.png) no-repeat;
}

.maint {
	float:left;
	margin: 432px 404px;
	color: #2c384a;
	text-align: center;
}

.maint>h1 {
	font-size:60px;
	font-weight:bold;
}

.maint>h4 {
	font-size:22px;
	margin-top: 45px;
	color: #79818d;
}


.maint>input{
	height: 40px;
	border: 2px solid;
	color: #79818d;
	border-radius: 5px;
	background: none;
	font-size: 14px;
	padding: 0px 16px;
	margin: 58px 14px;
	font-weight: bold;
}
.information1 {
	margin: 100px 600px;
	text-align: center;
	
}

.information1>h3 {
	font-size: 35px;
	color: #263244;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.information1 .line {
	margin-top: 32px;
}

#FotoB {
	margin-top: 60px;
}

.information1>p {
	margin-top: 25px;	
	font-size:13px;
	color:#263244;
	text-align: left;
}

.information1>input {
	margin-top:40px;
	height: 30px;
	padding: 0px 10px 0px 32px;
	font-size: 15px;
	border: 2px solid #6f707e;
	color: #6f707e;
	background: url(../img/иконка.png) no-repeat 8% 45%/auto, none;
	border-radius: 7px;
}

.information2 {
	width: 100%;
	height: 522px;
	background: url(../img/картинкафона.jpg) 100% 100%/auto 100% no-repeat;
}

.info2t {
	padding: 100px 420px;
	text-align: center;
}

.info2t h3 {
	font-size: 25px;
	color: #263244;
	text-transform: uppercase;
	font-weight: bold;
}

.title2 .line {
	margin-top: 31px;
}

.VebO {
	float:left;
	margin-top: 105px;
}

.Veb {
	max-width: 200px;
	float:left;
	margin: 0px 25px;
	font-size: 13px;
	color:#3f495a;
	font-weight: bold;
}

.Veb img {
	height:40px;
	margin-bottom: 17px;
}

.Veb h5 {
	font-size: 15px;
	color:#cf7600;
	font-weight: bold;
	margin-bottom: 22px;
}

.case {
	margin:110px 390px;
}
.titlecase {
	text-align: center;
	font-size: 21px;
	color:#3f495a;
	margin-bottom:40px;
}

.titlecase h3 {
	font-size: 33px;
	color:384354;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

.titlecase img {
	margin-bottom: 40px;
}

.caseBase {
	float:left;
	margin: 40px 100px 0px 0px;
	font-size: 16px;
}

.caseBase h4 {
	margin: 15px 0px;
	font-size: 22px;
	color:#384354;
	text-transform: uppercase;
	font-weight: bold;
}

.caseBase input {
	height: 43px;
	width: 200px;
	margin-top:25px;
	text-align: center;
	border:1px solid #63b5ae;
	border-radius: 7px;
	background-color: #63b5ae;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.caseProj {
		margin-top: 58px;
		font-size: 18px;
		color: #3f495a;
}

.caseProj h5 {
	font-size: 22px;
	color:#384354;
	font-weight: bold;
	margin-bottom: 15px;
}



.calculator {
	width: 100%;
	height: 100%;
}

.calcText {
	margin: 100px 500px 150px 500px;
}

.calcText h3 {
	text-align: center;
	font-size: 45px;
	color: #1c2534;
	font-weight: bold;
	margin: 205px 0px 10px 0px;
}

.calcText h4 {
	font-size: 30px;
	color: #1c2534;
	font-weight: bold;
	margin: 50px 0px 25px 0px;
	text-transform: uppercase;
}

.calcText select {
	width: 100%;
	height: 57px;
	background-color: #eee;
	color: #737373;
	font-size: 15px;
	border: none;
}

.calcText img {
	margin: 37px 0px 27px 0px;
}

.Results {
	font-size: 21px;
	color:#1c2534;
}

.Results p {
	margin-bottom: 30px;
}

.stats {
	width: 100%;
	height:520px;
	background: url(../img/Фон1.jpg) no-repeat;
	text-align: center;
}

.statsText{
	margin: 0px 440px;
	padding-top:100px; 
}
.StatsTitle h3 {
	font-size: 33px;
	color: #263244;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.StatsTitle img {
	margin-top: 31px;
}

.Statss {
	float:left;
	margin: 90px 36px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;

}

.Statss h5 {
	margin: 35px 0px 30px 0px;
	font-size: 37px;
	font-weight: bold;
	color: #323d4f;
}

.reviews {
	padding: 100px 600px;
	text-align:center;
}

.reviews h3 {
	font-size: 33px;
	font-weight: bold;
	color: #233042;
	margin-bottom: 34px;
}

.photo {
	margin: 60px 0px 35px 0px;
}

.comment {
	margin-bottom: 40px;
	font-size: 17px;
	color: #243042;
}

.avtor {
	margin-bottom: 50px;
	font-size: 17px;
	color: #243042;
	font-weight: bold;
}

.avtorops {
	margin-bottom: 50px;
	font-size: 17px;
	color: #243042;
	font-weight: normal;
}

.point img {
	padding-right: 15px;
}


.Contacs {
	width: 100%;
	height: 808px;
	background: url(../img/Слой2.jpg) no-repeat;
}

.ContacsText {
	margin: 100px 600px 45px 600px;
	font-size: 16.67px;
	color: #fff;
	text-align: center;
}

.ContacsText h3 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: bold;
	padding:105px 0px 31px 0px;
}

.ContacsText>p {
	margin: 33px 0px 40px 0px;
}

.icon {
	float: left;
	margin-left:50px;
}

.icon>img {
	margin-bottom: 15px;
}


.iconlast>img {
	margin-bottom: 15px;
}

.ContacsText h4 {
	font-size: 21px;
	text-transform: center;
	font-weight: bold;
	color: #fff;
	margin: 40px 0px 45px 0px;
}

.Otvet {
	height: 220px
	width: 800px;
}

.Svaz1{
	float:left;
	margin:0px 15px 15px 550px; 
	height: 35px;
	width: 355px;
	color: #5d5d5e;
	font-weight: bold;
	padding-left: 15px;
}
.Svaz2{
	margin:0px 550px 15px 15px; 
	height: 35px;
	width: 355px;
	color: #5d5d5e;
	font-weight: bold;
	padding-left: 15px;
}

#TextAre {
	margin:0px 550px 15px 550px; 
	height: 93px;
	width: 740px;
	color: #5d5d5e;
	font-weight: bold;
	padding: 10px 0px 0px 15px;
}

.Button {
	height: 40px;
	width: 120px;
	border: 2px solid #fff;
	background: none;
	border-radius: 5px;
	color: #fff;
	font-size: 21px;
	margin: 0px 870px 0px 870px;
}

.icon2 {
	margin: 63px 600px 71px 753px;
}

.icon2 li {
	float:left;
	margin-right:54px ;
	text-align: center;
}